main {
    padding: 150px 0px;
    border-bottom: 3px solid rgb(250, 250, 250);
}

.llama-back {
    width: 600px;
    height: 500px;

    border: 1px solid rgba(121, 121, 121, 0.5);

    background: #1f1f1f;

    border-radius: 10px;
}

.llama-back p {
    color: #9C9C9C;
}

.back-box-entrevista {
    width: 1350px;
    height: 650px;
    border: 1px solid black;
    background-color: #000000;

    border-radius: 10px;

    box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
}

/* ----------------------------------- */

#completar {
    position: absolute;

    padding-left: 1300px;
    padding-top: 20px;
}

/* ------------------------------ */

.info-box-entrevista {
    width: 1350px;
    border: 1px solid black;
}

.menu-infor {
    border: 1px solid black;
    width: fit-content;

    background-color: rgb(228, 228, 228);
}

.input-infor {
    width: 230px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    outline: none;
    border: 2px solid transparent;

    padding: 6px;

    font-size: 15px;
}

.input-infor:hover {
    background-color: rgb(249, 253, 255);
    border: 2px solid rgb(0, 195, 255);
}

