main {
    padding: 150px 0px;
    background: linear-gradient(to bottom, #ffffff, #dbeeff);
}

/* Carta de Menu */

/* ------------------------ */

.menu-preu-premium {
    border: 1px solid #d8d9db;

    width: 450px;
    height: 520px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
    padding-bottom: 15px;
}

.titol-menu {
    background-color: #f0f0f0;
    width: fit-content;
    padding: 5px;

    color: #384347;
    font-size: 12px;
    font-weight: 700;
}

.preu-text {
    font-size: 48px;
    color: #2d3639;
    font-weight: 700;
}

.frase-1 {
    color: #384347;
}

.mida-premium3 {
    width: 400px;
    height: 450px;

    /* border: 1px solid black; */
}

.mida-ul-premium {
    width: 400px;
    height: 200px;
}
/* ------------------------- */

/* botons */

/* ---------------------- */

.but-premium-info {
    border: none;
    background-color: transparent;
    cursor: pointer;

    font-family: "Inter", sans-serif;
}

.but-premium-info-border-js {
    border-bottom: 2px solid rgb(0, 153, 255);
}

.mida-but-box {
    width: 230px;
    height: fit-content;
}

.but-regis-premium {
    border: none;
    background-color: rgb(57, 143, 255);
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
}

.but-crear-premium {
    border: none;
    background-color: rgb(57, 143, 255);
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;

    width: fit-content;
    height: 45px;
}

.but-crear-premium a, .but-crear-premium a:hover {
    color: white;
}
/* --------------------------------- */

/* Titulo */

/* -------------------- */

h1 {
    font-family: "Rubik", sans-serif;

    color: #2d3639;
}

/* ------------------- */

footer {
    height: 230px;
    width: 100%;
    background-color: white;
}

.carta-footer {
    width: 300px;
    height: 250px;
    border: 1px solid black;
}