body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

main {
    background: linear-gradient(to bottom, #ffffff, #dbeeff);
}

/* LOGO */

/* ---------------------- */

#logo {
    width: 150px;
    height: 25px;
}

/* -------------------------- */

/* Enllanç de la navegació */

/* --------------------------- */

.container-list-button {
    width: 800px;
}

nav {
    padding: 20px;

    /* border: 1px solid black; */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;

    background-color: white;
}

nav li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: #384347;

    font-family: "Inter", sans-serif;
    font-weight: 500;
}

nav ul li a:hover {
    color: black;
}

/* --------------------------------- */

/* Button login i inicair */

/* ------------------------------ */

.but-login a {
    color: #384347;
    font-weight: 500;
}

.but-iniciar a {
    color: white;
    font-weight: 500;
}

.but-login {
    border: none;
    padding: 8px 15px;

    background-color: transparent;
    border: 2px solid #384347;
    border-radius: 5px;

    font-family: "Rubik", sans-serif;
}

.but-iniciar {
    background-color: rgb(47, 113, 255);
    border: none;
    padding: 8px 15px;

    font-family: "Rubik", sans-serif;
    border-radius: 5px;
}

.but-login:hover {
    background-color: #d2d9dbd5;
}

.but-iniciar:hover {
    background-color: #88a5ad;
}

/* ------------------ */

/* FOOTER */

footer {
    height: fit-content;
    width: 100%;
    background-color: rgb(255, 255, 255);

    padding: 8px 35px 8px 35px;
}

.carta-footer {
    width: 300px;
    height: 250px;
    /* border: 1px solid black; */

    /* border-radius: 10px; */
    padding: 10px;
}

.text-box-footer {
    width: 280px;
    height: 140px;
}

.text-box-footer2 {
    width: 305px;
    height: fit-content;
}

footer a, footer a:hover {
    color: black;
}

footer h2 {
    color: rgb(15, 76, 206);
}

footer h3 {
    color: rgb(91, 158, 197);
}