body {
    background: linear-gradient(to bottom, #ffffff, #eaf4ff);
}

/* LOGO */

/* ---------------------- */

#logo {
    width: 150px;
    height: 25px;
}

.color-gris {
    color: #60696c;
    /* border: 1px solid black; */
}
/* -------------------------- */

/* Panel login */

/* --------------------------- */

.panel-login {
    /* border: 1px solid black; */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    width: 460px;
    height: 650px;

    background-color: white;
}

.button-login-menu {
    width: fit-content;
    height: 185px;

    /* border: 1px solid black; */
}
/* ------------------------- */

/* Lletres */

/* ----------------------- */

.panel-login h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    word-spacing: 5px;

    color: #2d3639;
}

.ready {
    color: rgb(101, 139, 196);
}

.cv {
    color: rgb(184, 184, 184);
}

.pad-4 {
    padding-top: 4px;
}

.pad-10-right {
    padding-right: 10px;
}
/* --------------------------- */

/* Button de registrar amb github, dicord */

/* --------------------------------*/

.button-proveidor {
    cursor: pointer;

    width: 380px;
    height: 50px;

    font-family: "Inter", sans-serif;

    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    
    transition: all 0.25s ease;
}

.button-proveidor:hover {
    border: 1px solid #a7a7a7;
    background-color: rgb(249, 253, 255);
}

#logo-github-login {
    padding-bottom: 2px;
}

.mida-text {
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    outline: none;
    border: none;

    font-size: 15px;
}

.input-box:hover {
    background-color: rgb(249, 253, 255);
}

.container-link a {
    color: rgb(47, 113, 255);
    font-size: 13px;
    text-decoration: underline;
}

.btn-sessio {
    background-color: rgb(47, 113, 255);
    border: none;
    padding: 8px 15px;

    font-family: "Rubik", sans-serif;
    font-size: 16px;
    border-radius: 5px;

    color: white;
    font-weight: 500;

    cursor: pointer;

    width: 200px;
    height: 50px;
}

.btn-sessio:hover {
    background-color: #88a5ad;
}

.container-form {
    height: 100vh;
}
/* ---------------------------- */

/* Registrar propietats */

/* ------------------------------ */
.panel-login-re {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    width: 460px;
    height: 500px;

    background-color: white;
}

.panel-login-re h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    word-spacing: 5px;

    color: #2d3639;
}

.volver-img {
    position: absolute;

    padding: 15px 20px;
}
/* ------------------------------ */